# Dépendances
node_modules/

# Builds
dist/
build/

# Environnements
.env
.env.*
!.env.example
!.env.test

# Logs et caches
*.log
.cache/
coverage/

# IDE / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
